body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff6b6b, #ff8787);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1{
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    position: absolute;
    top: 25rem;
}
audio{
    display: none;
}
.heart-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corazon {
    position: relative;
    width: 100px;
    height: 100px;
    background: #ff0044;
    transform: rotate(45deg);
    animation: pulse 1.5s infinite;
    transform-origin: center;
}

.corazon:before,
.corazon:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff0044;
    border-radius: 50%;
}

.corazon:before {
    top: -50px;
    left: 0;
}

.corazon:after {
    left: -50px;
    top: 0;
}

@keyframes pulse {
    0%, 100% {
        transform: rotate(45deg) scale(1.5);
    }
    50% {
        transform: rotate(45deg) scale(0.5);
    }
    
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media (min-width: 300px) and (max-width: 900px){
    body{
        flex-direction: column;
        width: 100vw;
        height: 100vh;

    }
    h1{
        font-size: 2.4rem;
        margin-top: 4rem;
        background: linear-gradient(to bottom, #ad101c, #d728c7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        color:#d728c7;
        font-weight: bold;
        position: absolute;
        top : 25rem;
    }
}