body {
    margin: 0;
    padding: 0;
    background-color:black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: aliceblue;
}
h1{
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    position: absolute;
    top: 25rem;
}
audio{
    display: none;
}
.mensaje{
    color: azure;
}
.heart-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corazon {
    position: relative;
    width: 100px;
    height: 100px;
    background: #ff0044;
    transform: rotate(90deg);
    animation: pulse 1.5s infinite;
    transform-origin: center;
}

.corazon:before,
.corazon:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff0044;
    border-radius: 50%;
}

.corazon:before {
    top: -50px;
    left: 0;
}

.corazon:after {
    left: -50px;
    top: 0;
}

@keyframes pulse {
    0%, 100% {
        transform: rotate(45deg) scale(1.5);
    }
    50% {
        transform: rotate(45deg) scale(0.5);
    }
    
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media (min-width: 300px) and (max-width: 900px){
    body{
        width: 100vw;
        height: 100vh;
        color: black;
        background-color: cornsilk;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: static;
    }
    h1{
        font-size: 2rem;
        margin-top:3rem;
        text-align: center;
        color: #4a4a8a;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 2.5em;
    }
    canvas{
        position: absolute;
    }
    p{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 3rem;
        font-weight: bold;
        width: 22rem;
    }
}